.pedido{
    display: flex;
    flex-direction: row;
    padding: 50px;
    gap: 20px;
    justify-content: center;
}

.titleSection{
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separador{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

@media (max-width: 1040px){
    .pedido{
        flex-direction: column-reverse;
    }
}

@media (max-width: 372px){
    .pedido{
        padding: 10px;
    }
}